@using TodoListApp.WebApi.Models;
@using TodoListApp.WebApi.Models.Tasks;
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/todolistdetails.css?v=@DateTime.Now.Ticks" />
}

@model TodoListApp.WebApi.Models.TodoDetailsDto

@{
    ViewData["Title"] = "Todo Details";
    var updateTodo = new UpdateTodo
            {
                Id = Model.Id,
                Name = Model.Name,
                Description = Model.Description
            };
}


<div class="full-height-container mt-4">
    <div class="content-wrapper">
    <div class="row row-full-height">   
      <div class="col-12 col-full-height">        
        <h2>@Model.Name</h2>
        <hr>
        <p>@Model.Description</p>
        <hr>
            <div>
              <a href="@Url.Action("Edit", "TodoList", new { id = Model.Id })" class="btn update-btn mt-1 mb-1">Update Todo List</a>
            </div>
        <hr > 
        <h2 class="mb-2 mt-2">TASKS</h2>
        <hr >
        <div>
                    <a href="@Url.Action("Create", "Task", new { todoListId = Model.Id })" class="btn btn-success mt-3 mb-3">Create New Task</a>
         </div>
    @if (Model.Tasks != null && Model.Tasks.Any()){
        <!-- Tasks Table -->
       
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="status-column">STATUS</th>
                        <th>TITLE</th>
                        <th>DUEDATE</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var task in Model.Tasks)
                    {
                        <tr>
                            <td class="status-column  @(task.Status == Status.Completed ? "completed-status" : "") @(task.Status != Status.Completed && task.IsExpired ? "expired-status" : "")">
                                           
                                                <span class="status-icon">
                                            @if (task.Status != Status.Completed && task.IsExpired)
                                            {
                                                <ion-icon class="icon-alert" name="alert-circle-outline"></ion-icon>
                                            }
                                            else if (task.Status == Status.Completed)
                                            {
                                                <ion-icon class="completed" name="checkmark-circle-outline"></ion-icon>
                                            }
                                            else if (task.Status == Status.InProgress)
                                            {
                                                <ion-icon name="hourglass-outline"></ion-icon>
                                            }
                                            else if (task.Status == Status.NotStarted)
                                            {
                                                <ion-icon name="ellipse-outline"></ion-icon>
                                            } </span>
                                            <span class="status-text">
                                                @task.Status
                                            </span>
                                        </td>
                            <td>@task.Title</td>
                             <td class="@(task.Status != Status.Completed && task.IsExpired ? "expired-date" : "")">@task.DueDate?.ToString("MMMM dd, yyyy")</td>
                            <td>
                               <form asp-controller="Task" asp-action="DeleteTask" method="post" style="display:inline;">
                                  <input type="hidden" name="id" value="@task.Id" />
                                  <input type="hidden" name="todoListId" value="@Model.Id" />
                                  <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this todo list?');">Delete</button>
                               </form>
                                <a href="@Url.Action("TaskDetails", "Task", new { taskId = task.Id })" class="btn btn-details">Details</a>
                             </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <p>Page @Model.CurrentTaskPage of @Model.TotalTaskPages</p>
  <nav class="mt-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Model.TotalTaskPages; i++)
        {
            <li class="page-item @(i == Model.CurrentTaskPage ? "active" : "")">
                <a class="page-link" asp-controller="TodoList" asp-action="Details" asp-route-pageNumber="@i">@i</a>
            </li>
        }
    </ul>
</nav>
    }
    else
    {
        <p>No tasks available.</p>
    }
        </div>
        </div>
    </div>
</div>
